* {
	margin:0;
	padding: 0;
}

header {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	background-image: url("img/encabezado.png");
	height: 220px;
	-webkit-box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.27);
	box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.27);
	z-index: 0;
}

header .titulo {
	color: #F2F2F2;
	font-size: 45px;
	float: left;
	margin-left: 300px;
	line-height: 160px;	
	font-family: 'Exo 2', sans-serif;
	width: 90%;
}

header nav {
	z-index: 1;
	position: absolute;
	margin-left: 42%;
	margin-top: 12%;

}

header nav ul li a  { 

	color: #f2f2f2;
	text-decoration: none;
	padding: 20px;
	font-family: 'Exo 2', sans-serif;
	line-height: normal;
	font-weight: bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;


}


nav ul{
	list-style: none;

}

ul > li{
	position: relative;
	display: inline-block;
}

ul > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	font-family: 'Exo 2', sans-serif;
	text-decoration: none;
}

ul li a:hover{
	color: white;
	transition: all .3s;
	background: #d4a402;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 150%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Exo 2', sans-serif;
	text-decoration: none;
}

ul li:hover .submenu{
	visibility: visible;
	opacity: 1;
	color: black;
}

.active {
	background: #d4a402;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
	background: #d4a402;
	padding: 13px;
	color: white;
	border-radius: 20px;

}

article  {

	padding: 30px;
	text-align: justify;
	font-family: 'Varela Round', sans-serif;
	line-height: 28px;

}

.aside {

	padding: 25px;
}

.aside p {
	background: #026698;
	padding: 10px;
	color: white;
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	border-radius: 12px;

}
footer {
	background-color: #026698;
	padding: 15px;
	font-family: 'Exo 2', sans-serif;
	color: white;
	text-align: center;
	border-style: solid;


}

/*************  GIT *****************/ 

.git {
	float: right;
	width: 185px;
}

.github {
	float: left;
	width: 250px;
}

.html5 {
	float: right;
	width: 185px;
}
.css3 {
	float: left;
	width: 175px;
	padding: 10px;
}

q{
	background: #DADADA;
	font-size: 12px;
	padding: 8px;
	border-radius: 5px;
	font-weight: bold;
}